flows.backup
[{"type":"tab","id":"da44dec0.4bf0a","label":"Sheet 1"},{"id":"c0552987.3faad8","type":"websocket-listener","path":"ws://127.0.0.1:7204/myo/1?appid=com.example.appid","wholemsg":"false"},{"id":"1297bc68.81ab8c","type":"myo","myo_list":[{"id":"0","name":"Myo 0"},{"id":"1","name":"Myo 1"}],"myo_selected":"0","x":384,"y":199,"z":"da44dec0.4bf0a","wires":[["9a3fc126.65c04"]]},{"id":"ce24bfae.31db4","type":"inject","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":229,"y":196,"z":"da44dec0.4bf0a","wires":[["1297bc68.81ab8c"]]},{"id":"9a3fc126.65c04","type":"debug","name":"","active":true,"console":"false","complete":"false","x":662,"y":138,"z":"da44dec0.4bf0a","wires":[]}]