flows/test.json
[{"type":"tab","id":"da44dec0.4bf0a","label":"Sheet 1"},{"id":"c0552987.3faad8","type":"websocket-listener","path":"ws://127.0.0.1:7204/myo/1?appid=com.example.appid","wholemsg":"false"},{"id":"9a10d51d.0db798","type":"twitter-credentials","screen_name":"@alwaysthrowrock"},{"id":"1297bc68.81ab8c","type":"myo","myo_list":[{"id":"0","name":"Myo 0"},{"id":"1","name":"Myo 1"}],"myo_selected":"0","x":285.25,"y":386,"z":"da44dec0.4bf0a","wires":[["484a8e9.3667b7"]]},{"id":"2b6de94b.d49216","type":"myo","myo_list":"","myo_selected":"1","x":279.2500305175781,"y":700.5,"z":"da44dec0.4bf0a","wires":[["4d2f353b.4e8d6c"]]},{"id":"399fa6b2.c9b372","type":"twitter out","twitter":"9a10d51d.0db798","name":"Tweet Output","x":1180.75,"y":752.25,"z":"da44dec0.4bf0a","wires":[]},{"id":"af46bc50.cc04c","type":"twitter in","twitter":"9a10d51d.0db798","tags":"@alwaysthrowrock","user":"false","name":"Rock Paper Scissors","topic":"tweets","x":190,"y":534.25,"z":"da44dec0.4bf0a","wires":[["4624442c.d68b0c"]]},{"id":"2f857b07.c9cebc","type":"template","name":"compose tweet","template":"{{player1}} is playing {{player2}} at Rock Paper Twitter! #nodered #myo","x":570.5,"y":540.5,"z":"da44dec0.4bf0a","wires":[["15c0d9d9.045da6","c10f1008.f8e22","399fa6b2.c9b372"]]},{"id":"4624442c.d68b0c","type":"function","name":"Match Players","func":"context.players = context.players || [];\nvar user1 = null;\nvar user2 = null;\n\nvar userName = msg.topic.replace('tweets/', '@');\ncontext.players.push(userName);\n\n\nif(context.players.length >= 2) {\n\tuser1 = context.players.shift();\n\tuser2 = context.players.shift();\n\treturn {player1: user1, player2: user2};\n} else {\n\treturn;\n}\n","outputs":1,"x":383.25,"y":540.25,"z":"da44dec0.4bf0a","wires":[["2f857b07.c9cebc","1297bc68.81ab8c","2b6de94b.d49216"]]},{"id":"15c0d9d9.045da6","type":"function","name":"Player 1 Move","func":"context.player = context.player || {};\n\nif (msg.player1) {\n\tcontext.player.name = msg.player1;\n}\nif (msg.move) {\n\tcontext.player.move = msg.move;\n\tcontext.player.score = msg.score;\n\tcontext.player.myoid = msg.myoid;\n}\nif(context.player.move) {\n\treturn context.player;\n}\nelse {\n\treturn;\n}","outputs":1,"x":742.4999389648438,"y":458.0000305175781,"z":"da44dec0.4bf0a","wires":[["55d21883.3eca48","9c53832b.63ac8"]]},{"id":"c10f1008.f8e22","type":"function","name":"Player 2 Move","func":"context.player = context.player || {};\n\nif (msg.player2) {\n\tcontext.player.name = msg.player2;\n}\nif (msg.move) {\n\tcontext.player.move = msg.move;\n\tcontext.player.score = msg.score;\n\tcontext.player.myoid = msg.myoid;\n\t\tconsole.error(msg.myoid);\n\n}\nif(context.player.move) {\n\treturn context.player;\n}\nelse {\n\treturn;\n}","outputs":1,"x":740.2500610351562,"y":600,"z":"da44dec0.4bf0a","wires":[["55d21883.3eca48","9c53832b.63ac8"]]},{"id":"484a8e9.3667b7","type":"function","name":"Parse Myo Output","func":"var gestureScore = {\n\tfist: { move: 'Rock', score: 0 },\n\tfingers_spread: { move: 'Paper', score: 1 },\n\tthumb_to_pinky: { move: 'Scissors', score: 2 },\n\twave_in: { move: 'Scissors', score: 2 },\n\twave_out: { move: 'Paper', score: 1 }\n};\n\nvar message = gestureScore[msg.payload];\nmessage.myoid = msg.device;\n\nreturn message;","outputs":1,"x":476,"y":386,"z":"da44dec0.4bf0a","wires":[["15c0d9d9.045da6"]]},{"id":"55d21883.3eca48","type":"function","name":"Determine Winner","func":"var player1 = {};\nvar player2 = {};\ncontext.players = context.players || [];\n\ncontext.players.push(msg);\n\nif(context.players.length == 2) {\n\tplayer1 = context.players.shift();\n\tplayer2 = context.players.shift();\n\t\n\tvar outcome = {};\n\tif (((player1.score + 1) % 3) == player2.score) {\n\t\t//player2 wins\n\t\toutcome = {\n\t\t\twinner: player2.name,\n\t\t\twinnerMove: player2.move,\n\t\t\tloser: player1.name,\n\t\t\tloserMove: player1.move,\n\t\t\tmyoWinner: player2.myoid\n\t\t};\n\t\treturn outcome;\n\t}\n\tif (((player2.score + 1) % 3) == player1.score) {\n\t\t//player1 wins\n\t\toutcome = {\n\t\t\twinner: player1.name,\n\t\t\twinnerMove: player1.move,\n\t\t\tloser: player2.name,\n\t\t\tloserMove: player2.move,\n\t\t\tmyoWinner: player1.myoid\n\t\t};\n\t\treturn outcome;\n\t}\n\telse {\n\t\t//draw\n\t\treturn {};\n\t}\n}\nelse {\n\treturn;\n}","outputs":1,"x":943,"y":517,"z":"da44dec0.4bf0a","wires":[["72cb4e6e.a6c5f","1297bc68.81ab8c","2b6de94b.d49216","9c53832b.63ac8"]]},{"id":"4d2f353b.4e8d6c","type":"function","name":"Parse Myo Output","func":"var gestureScore = {\n\tfist: { move: 'Rock', score: 0 },\n\tfingers_spread: { move: 'Paper', score: 1 },\n\tthumb_to_pinky: { move: 'Scissors', score: 2 },\n\twave_in: { move: 'Scissors', score: 2 },\n\twave_out: { move: 'Paper', score: 1 }\n};\n\nvar message = gestureScore[msg.payload];\nmessage.myoid = msg.device;\n\nreturn message;","outputs":1,"x":473,"y":700,"z":"da44dec0.4bf0a","wires":[["c10f1008.f8e22"]]},{"id":"72cb4e6e.a6c5f","type":"template","name":"compose tweet","template":"{{winner}} threw {{winnerMove}}; {{loser}} threw {{loserMove}}. {{winner}} wins!! #nodered #myo ","x":1220.5,"y":517.25,"z":"da44dec0.4bf0a","wires":[["399fa6b2.c9b372"]]},{"id":"9c53832b.63ac8","type":"debug","name":"","active":true,"console":"false","complete":"true","x":1138,"y":291,"z":"da44dec0.4bf0a","wires":[]},{"id":"820337f6.7dfcc8","type":"inject","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":87,"y":334,"z":"da44dec0.4bf0a","wires":[["1297bc68.81ab8c","2b6de94b.d49216"]]}]