flows/test.json
[{"type":"tab","id":"da44dec0.4bf0a","label":"Sheet 1"},{"id":"c0552987.3faad8","type":"websocket-listener","path":"ws://127.0.0.1:7204/myo/1?appid=com.example.appid","wholemsg":"false"},{"id":"1297bc68.81ab8c","type":"myo","myo_list":[{"id":"0","name":"Myo 0"},{"id":"1","name":"Myo 1"}],"myo_selected":"0","x":384,"y":199,"z":"da44dec0.4bf0a","wires":[["9a3fc126.65c04"]]},{"id":"ce24bfae.31db4","type":"inject","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":229,"y":196,"z":"da44dec0.4bf0a","wires":[["1297bc68.81ab8c","2b6de94b.d49216"]]},{"id":"9a3fc126.65c04","type":"debug","name":"","active":true,"console":"false","complete":"false","x":662,"y":138,"z":"da44dec0.4bf0a","wires":[]},{"id":"2b6de94b.d49216","type":"myo","myo_list":"","myo_selected":"1","x":343,"y":306,"z":"da44dec0.4bf0a","wires":[["8672d825.798d28"]]},{"id":"8672d825.798d28","type":"debug","name":"Myo 2","active":true,"console":"false","complete":"true","x":551,"y":293,"z":"da44dec0.4bf0a","wires":[]}]